<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>Complex5Servlet</display-name>
    <servlet-name>Complex5Servlet</servlet-name>
    <servlet-class>complex5.web.servlet.Complex5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complex5Servlet</servlet-name>
    <url-pattern>/Complex5Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complex4Servlet</display-name>
    <servlet-name>Complex4Servlet</servlet-name>
    <servlet-class>complex4.web.servlet.Complex4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complex4Servlet</servlet-name>
    <url-pattern>/Complex4Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complex3Servlet</display-name>
    <servlet-name>Complex3Servlet</servlet-name>
    <servlet-class>complex3.web.servlet.Complex3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complex3Servlet</servlet-name>
    <url-pattern>/Complex3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complex2Servlet</display-name>
    <servlet-name>Complex2Servlet</servlet-name>
    <servlet-class>complex2.web.servlet.Complex2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complex2Servlet</servlet-name>
    <url-pattern>/Complex2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complex1Servlet</display-name>
    <servlet-name>Complex1Servlet</servlet-name>
    <servlet-class>complex1.web.servlet.Complex1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complex1Servlet</servlet-name>
    <url-pattern>/Complex1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccineServletSimple3</display-name>
    <servlet-name>VaccineServletSimple3</servlet-name>
    <servlet-class>VaccineSimple3.web.servlet.VaccineServletSimple3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServletSimple3</servlet-name>
    <url-pattern>/VaccineServletSimple3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServletSimple2</display-name>
    <servlet-name>CountryServletSimple2</servlet-name>
    <servlet-class>country.web.servlet.CountryServletSimple2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletSimple2</servlet-name>
    <url-pattern>/CountryServletSimple2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeoplefindAllByHospital</display-name>
    <servlet-name>PeoplefindAllByHospital</servlet-name>
    <servlet-class>people.web.servlet.PeoplefindAllByHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeoplefindAllByHospital</servlet-name>
    <url-pattern>/PeoplefindAllByHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServletSimple1</display-name>
    <servlet-name>PeopleServletSimple1</servlet-name>
    <servlet-class>people.web.servlet.PeopleServletSimple1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServletSimple1</servlet-name>
    <url-pattern>/PeopleServletSimple1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryfindAll</display-name>
    <servlet-name>CountryfindAll</servlet-name>
    <servlet-class>country.web.servlet.CountryfindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryfindAll</servlet-name>
    <url-pattern>/CountryfindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServletUpdate</display-name>
    <servlet-name>CountryServletUpdate</servlet-name>
    <servlet-class>country.web.servlet.CountryServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletUpdate</servlet-name>
    <url-pattern>/CountryServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServletDelete</display-name>
    <servlet-name>CountryServletDelete</servlet-name>
    <servlet-class>country.web.servlet.CountryServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletDelete</servlet-name>
    <url-pattern>/CountryServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServletRead</display-name>
    <servlet-name>CountryServletRead</servlet-name>
    <servlet-class>country.web.servlet.CountryServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletRead</servlet-name>
    <url-pattern>/CountryServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServletInsert</display-name>
    <servlet-name>CountryServletInsert</servlet-name>
    <servlet-class>country.web.servlet.CountryServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServletInsert</servlet-name>
    <url-pattern>/CountryServletInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccinefindAll</display-name>
    <servlet-name>VaccinefindAll</servlet-name>
    <servlet-class>vaccine.web.servlet.VaccinefindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccinefindAll</servlet-name>
    <url-pattern>/VaccinefindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccineServletUpdate</display-name>
    <servlet-name>VaccineServletUpdate</servlet-name>
    <servlet-class>vaccine.web.servlet.VaccineServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServletUpdate</servlet-name>
    <url-pattern>/VaccineServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccineServletDelete</display-name>
    <servlet-name>VaccineServletDelete</servlet-name>
    <servlet-class>vaccine.web.servlet.VaccineServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServletDelete</servlet-name>
    <url-pattern>/VaccineServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccineServletRead</display-name>
    <servlet-name>VaccineServletRead</servlet-name>
    <servlet-class>vaccine.web.servlet.VaccineServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServletRead</servlet-name>
    <url-pattern>/VaccineServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VaccineServletInsert</display-name>
    <servlet-name>VaccineServletInsert</servlet-name>
    <servlet-class>vaccine.web.servlet.VaccineServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineServletInsert</servlet-name>
    <url-pattern>/VaccineServletInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeoplefindAll</display-name>
    <servlet-name>PeoplefindAll</servlet-name>
    <servlet-class>people.web.servlet.PeoplefindAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeoplefindAll</servlet-name>
    <url-pattern>/PeoplefindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServletUpdate</display-name>
    <servlet-name>PeopleServletUpdate</servlet-name>
    <servlet-class>people.web.servlet.PeopleServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServletUpdate</servlet-name>
    <url-pattern>/PeopleServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServletDelete</display-name>
    <servlet-name>PeopleServletDelete</servlet-name>
    <servlet-class>people.web.servlet.PeopleServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServletDelete</servlet-name>
    <url-pattern>/PeopleServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServletRead</display-name>
    <servlet-name>PeopleServletRead</servlet-name>
    <servlet-class>people.web.servlet.PeopleServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServletRead</servlet-name>
    <url-pattern>/PeopleServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeopleServletInsert</display-name>
    <servlet-name>PeopleServletInsert</servlet-name>
    <servlet-class>people.web.servlet.PeopleServletInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeopleServletInsert</servlet-name>
    <url-pattern>/PeopleServletInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>user.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
